.highlight {
    animation: shadowPulse 1s infinite;
    color:#000 !important;
  }
  
  @keyframes shadowPulse {
    0% {
      box-shadow: 0 0 10px 0 rgba(255, 215, 0, 0.5);
    }
    50% {
      box-shadow: 0 0 20px 5px rgba(255, 215, 0, 0.7);
    }
    100% {
      box-shadow: 0 0 10px 0 rgba(255, 215, 0, 0.5);
    }
  }

  .non-highlight{
    color:#ccc;

  }

  .inprogress-border{
    border: 1px solid orange;
  }
  .completed-border{
    border: 1px solid green;
  }