<ion-content [fullscreen]="true" class="bg1" style="background-image: url('../../../assets/images/school/1.png') !important; background-repeat: no-repeat;">
<div style="display: flex; justify-content: end;">
  <div style=" height: 80px; padding: 10px;" (click)="next()">
    <ion-icon name="arrow-forward" class="backIcon"></ion-icon>
    <h1 class="text-deco custom"></h1>
  </div>
  </div>
   <div>
    <ion-card *ngIf="askName" class="center-card styled-card">
      <h1 class="text-deco custom" style="justify-content: left; margin: 40px 0px;">Please enter your name.</h1>
      <ion-input
        class="input-field"
        type="text"
        placeholder="Enter your name here."
        [(ngModel)]="profileName"
        (ionInput)="onNameInput($event)"
      ></ion-input>
      <div class="button-container">
        <ion-button (click)="updateName()" [disabled]="!isNameValid"  style="min-width: 200px;">
          Next <ion-icon
            name="arrow-forward-outline"
            [class.animate-arrow]="isNameValid"
          ></ion-icon>
        </ion-button>
      </div>
    </ion-card>
    <ion-card *ngIf="!askName && !selected" class="center-card styled-card">
      <h1 class="card-title text-deco custom" style="margin-bottom: 50px;"> Do you want to know about the micro-improvement approach?</h1>
      <div style="display: flex; justify-content: space-between;">
        <div (click)="onSelect('yes')" class="cursor-pointer text-deco purples">Yes, I am interested</div>
        <div (click)="onSelect('no')" class="cursor-pointer text-deco custom">No, Continue</div>
      </div>
    </ion-card>

    <ion-card *ngIf="selected" class="center-card styled-card">
      <h1 class="card-title text-deco custom">Micro-improvement approach</h1>
    </ion-card>
    </div>
  <div *ngIf="showSpeechBubble">
    <app-avatar [speechText]="speechText" (completed)="talkOver()" (resumeSpeech)="resumeSpeech()" (stopSpeech)="stopSpeech()"></app-avatar>
  </div>
  <div *ngIf="!showSpeechBubble">
    <app-avatar [speechText]="" (resumeSpeech)="resumeSpeech()" (stopSpeech)="stopSpeech()"></app-avatar>
  </div>

</ion-content>
