<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="bg">
  <!-- -->
  <app-celebration *ngIf="completed == timelineItems?.length"  [message]="'You sorted all the  improvement projects.'">
    </app-celebration>
  <div class="topbar">
    <div style="padding: 15px;" [ngClass]="{'highlight' : count == 5}">
      Attempts: {{attempts}}
      </div>
      <div style="padding: 15px;" [ngClass]="{'highlight' : count == 6}">
        In order: {{completed}} / {{timelineItems.length}}
        </div>
        <div style="padding: 15px; cursor: pointer;" [ngClass]="{'highlight' : count == 7}" (click)="showHint()">
         Hint 
          </div>
    </div>
  <div class="container">
   
    <div class="items-list" cdkDropListGroup >
      <div class="left-list " cdkDropList  [ngClass]="{'highlight': count == 1}">
  <div class="item" *ngFor="let item of timelineItems; let i = index" cdkDrag  [ngClass]="{'item-drag' :  count == 3 && i == 0}" [ngStyle]="item?.isCompleted ? {'background': '#2196F3', 'color': '#fff'} : {}"
  [ngClass]="{'hintOption' : item.hint}" >
  {{item?.title}}
  <ion-img src="../../assets/images/handPoint.png" *ngIf="count == 3 && i == 0"  style="rotate:-32deg; width: 70px;"/>
  </div>
</div>
      <div class="right-list" [ngClass]="{'highlight': count == 2}">
        <div class="drop-block" *ngFor="let item of timelineItems; let i = index" cdkDropList (cdkDropListDropped)="drop1($event, i)"  [ngClass]="{'hintOption' : result[i]?.hint}" [ngStyle]="droppedItems[i] ? {'background': '#2196F3', 'color': '#fff'} : {}" >
          <div class="drop-placeholder" *ngIf="!droppedItems[i]" >Drop here</div>
          <div class="dropped-item" *ngIf="droppedItems[i]" [@dropAnimation]="dropAnimationState" >{{droppedItems[i]?.title}} </div>
        </div>
      </div>
    </div>
  </div>
  <app-avatar [speechText]="speechText" *ngIf="showSpeechBubble" (completed)="speechOver()"></app-avatar>
</ion-content>
