@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

:root {
  --clr-border-timeline: #333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Abel', sans-serif;
}

.section-timeline {
  position: relative;
  padding: 50px 0;
  overflow: auto;
  margin-bottom: 100px;
}

.section-timeline .container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  position: relative;
}

.section-timeline .timeline {
  list-style: none;
  position: relative;
  margin: 30px 0;
}

.section-timeline .timeline li {
  height: 150px;
  width: 100px;
  position: absolute;
  border-color: var(--clr-border-timeline);
}

.section-timeline .timeline li:nth-child(odd) {
  border-style: solid;
  border-width: 8px 8px 8px 0;
  left: -40px;
  transform: translateX(50%);
  border-radius: 0 80px 80px 0;
  box-shadow: 13px 0 15px -12px rgba(0, 0, 0, .3);
}

.section-timeline .timeline li:nth-child(even) {
  left: -40px;
  border-style: solid;
  border-width: 8px 0 8px 8px;
  transform: translateX(-20%);
  border-radius: 80px 0 0 80px;
  box-shadow: -15px 0 15px -12px rgba(0, 0, 0, .5);
}

/* Style li */
.section-timeline .timeline li:nth-child(2) {
  top: 78px;
}
.section-timeline .timeline li:nth-child(3) {
  top: 156px;
}
.section-timeline .timeline li:nth-child(4) {
  top: 234px;
}
.section-timeline .timeline li:nth-child(5) {
  top: 312px;
}
.section-timeline .timeline li:nth-child(6) {
  top: 390px;
}

.status-notstarted::before {
  background: red !important;
  color: red !important;
  border: 1px solid red !important;
}
.status-inprogress::before {
  background: orange !important;
  color: orange !important;
  border: 1px solid orange !important;
}
.status-completed::before {
  background: green !important;
  color: green !important;
  border: 1px solid green !important;

}
.timeline li {
  position: relative;
  list-style: none;
}

/* Style pseudo Element */
.section-timeline .timeline li:before {
  content: '';
  position: absolute;
  height: 45px;
  width: 45px;
  border: 2px solid black;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--clr-border-timeline);
  text-align: center;
  line-height: 30px;
  font-weight: bold;
  font-size: 13px;
  color: #FFF;
}

.section-timeline .timeline li:nth-child(odd):before {
  right: 0;
  transform: translateY(-50%) translateX(50%);
}

.section-timeline .timeline li:nth-child(even):before {
  left: 0;
  transform: translateY(-50%) translateX(-50%);
}

.section-timeline .timeline li:nth-child(1):after,
.section-timeline .timeline li:last-child:after {
  content: '';
  position: absolute;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: var(--clr-border-timeline);
}

.section-timeline .timeline li:nth-child(1):after {
  top: 0;
  transform: translate(-50%, -50%)
}

.section-timeline .timeline li:last-child:after {
  bottom: 0;
  right:0;
  transform: translate(50%, 50%)
}

/* Style content */
.section-timeline .timeline .content {
  border: 1px solid #F2F2F2;
  position: absolute;
  min-width: auto;
  border-radius: 10px;
  overflow: hidden;
  top: 50%;
  width: 240px;
  transform: translateY(-50%);
  box-shadow: 0 15px 25px -20px rgba(0, 0, 0, .2);
}

.section-timeline .timeline li:nth-child(odd) .content {
  right: calc(70%);
}

.section-timeline .timeline li:nth-child(even) .content {
  left: calc(40%);
}

.section-timeline .timeline .content > * {
  padding: .5rem;
}

.section-timeline .timeline .content h3 {
  text-align: center;
  margin: 0;
  box-shadow: 0 5px 8px -6px rgba(0, 0, 0, .4);
}

.section-timeline .timeline li:nth-child(1) h3 {
  background-color: #e74c3c;
}

.section-timeline .timeline li:nth-child(2) h3 {
  background-color: #2ecc71;
}

.section-timeline .timeline li:nth-child(3) h3 {
  background-color: #e67e22;
}

.section-timeline .timeline li:nth-child(4) h3 {
  background-color: #1abc9c;
}

.section-timeline .timeline li:nth-child(5) h3 {
  background-color: #9b59b6;
}

.section-timeline .timeline li:nth-child(6) h3 {
  background-color: #fff00f;
}

.section-timeline .timeline .content p {
  font-size: 14;
  line-height: 1.3;
}


  @keyframes slideIn {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .animate-slideIn {
    animation: slideIn 0.5s ease-out;
  }


  .highlight{
    animation: highlight-animation 2s infinite, zoom-in-zoom-out 1s ease infinite;
}


.topbar{
  display: flex;
  justify-content: space-around;
  background: #2196f354;
  height: 100px;
  margin: 30px;
  align-items: center;
  font-size: 24px;
  color: #795548;
  font-weight: 900;
}
// drag and drop
.container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: #2196f354;
  margin: 30px 30px;
}

.items-list {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.left-list {
  width: 45%;
  flex-direction: column;
  margin: 10px;
}

.right-list {
  width: 45%;
  flex-direction: column;
  margin: 10px;
}

.drop-block {
  width: 100%;
  border: 2px dashed #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  color: #000;
  margin: 3px;
  min-height: 70px;
  animation: moveBackground 3s infinite linear;
  background-size: 200% 100%;
}

@keyframes moveBackground {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.item {
  padding: 10px;
  margin: 5px 0px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  width: 100%;
  color: #000;
  align-items: center;
  min-height: 70px;
  cursor: pointer;
  align-items: center;
    display: flex;
    justify-content: center;
}
.item:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease-in-out;
}
// animation 
@keyframes guide {
  0% { transform: translate(0, 0); }
  25% { transform: translate(20%, 50px); }
  35% { transform: translate(50%, 100px); }
  50% { transform: translate(75%, 300px); }
  75% { transform: translate(90%, 400px); }
  90% { transform: translate(100%, 400px); }
  100% { transform: translate(110%, 100px); }
}

.item-drag {
  cursor: url('../../assets/images/handPoint.png'), auto;
  animation: guide 2s ease-in-out infinite,highlight-animation 2s infinite;
}

.highlight-button {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  border: none;
  cursor: pointer;
  outline: none;
  box-shadow: 0 0 0 0 rgba(255, 165, 0, 0);
  animation: highlight-animation 2s infinite, zoom-in-zoom-out 1s ease infinite;
}

@keyframes highlight-animation {
  0% {
    box-shadow: 0 0 10px 10px yellow;
  }
  50% {
    box-shadow: 0 0 20px 20px orange;
  }
  100% {
    box-shadow: 0 0 10px 10px rgba(100, 248, 2, 0.5);
  }
}

.hintOption{
  box-shadow: 0 0 0 0 rgba(255, 165, 0, 0);
  animation: highlight-animation 2s infinite, zoom-in-zoom-out 1s ease infinite;
}


@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1, 1);
  }
}




// type 2

.container1 {
  position: relative;
  width: 30%;
}

.triangle {
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
  height: fit-content;
  width: 100%;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

ion-card {
  padding: 15px;
  margin: 10px 15px;
  color: #fff;
  cursor: grab;
}

ion-card:active {
  cursor: grabbing;
}

.drop-target-item {
  padding: 10px;
  background-color: #fff;
  border: 1px solid #000;
  color: red;
  height: inherit;
  display: flex;
  justify-content: center;
}

.correct {
  background: green;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  padding: 5px;
}

.progress-container {
  width: 15px;
  border-radius: 12px;
  height: 100%;
  border: 1px solid #000;
  rotate: 180deg;
}

ion-progress-bar {
  width: 100%;
  background: linear-gradient(to bottom, red 30%, yellow 70%,  green);
  transition: height 0.9s ease-in-out;
  border-radius: 12px;
}

.dropped-overlay{
  background-color: #ccc;
  opacity: 0.5;
}


// fish
html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}


.crown {
  position: relative;
  transform: translate(-50%, -50%) scale(0); /* Center and scale to 0 */
  animation: zoom-out 0.7s forwards, crown-animation 0.3s infinite alternate 0.5s; /* Add delay for crown-animation */
}

@keyframes zoom-out {
  0% {
    transform: translate(-50%, -50%) scale(80);
  }

  100% {
    transform: translate(-50%, -50%) scale(0);
  }
}

@keyframes crown-animation {
  0% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(10deg);
  }
}

.dropped-item{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.move-righttoleft {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0); /* Center the element and start with scale 0 */
  animation: moveRL 3s forwards; /* Slow zoom-in animation */
}

@keyframes moveRL {
  0% {
    transform: translate(-50%, -50%) scale(0); /* Start at the center with scale 0 */
  }
  100% {
    transform: translate(-50%, -50%) scale(1); /* End at the center with scale 1 (normal size) */
  }
}

