<ion-header>
  <ion-toolbar color="primary">
    <ion-title></ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="bg">
  <h4 class="subDomain">Please select sub domain</h4>
  <ion-card  class="cat-card" *ngFor="let domain of data" (click)="onSelect(domain?.id)">
    <ion-card-header>
      <ion-card-title>{{ domain?.title }}</ion-card-title>
    </ion-card-header>
  </ion-card>
  <app-avatar [speechText]="speechText" *ngIf="showSpeechBubble"></app-avatar>
</ion-content>
